[submodule "themes/reterminal"]
	path = themes/reterminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
